.search{
    position: absolute;
    display: list-item;
    z-index: 10;
    background-color: #fff;
    width: 300px;
    top: 40px;
    border: 1px solid #ddd;
    text-decoration: none;
    list-style-type: none;
}
.search li{
    border:  1px solid #ddd;
    padding: 5px;
    text-decoration: none;
}
.mouse{
    cursor: pointer;
}