<div class="container">
<table class="table table-bordered">
    <p>{{DeleteMessage}}</p>
    <thead>
        <tr class="table-primary">
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Color</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of productList">
    
            <td><img src="{{item.imageUrl}}" alt="imageUrl not found"/></td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>{{item.color}}</td>
            <td>{{item.category}}</td>
            <td>{{item.description}}</td>
            <td><fa-icon (click)="deleteProduct(item.id)" [icon]="fatrash"></fa-icon>
                <a class="ms-3" routerLink="/seller-update-product/{{item.id}}"><fa-icon [icon]="Edit"></fa-icon></a>
            </td>
            
            <!-- <td><button (click)="deleteProduct(item.id)" type="button" class="btn btn-danger">Delete</button></td> -->
        </tr>

    </tbody>
</table>
</div>